@model Jaws_Intex.Models.WorkOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Work Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quoted_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quoted_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Report_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Report_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary_Report_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary_Report_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount_Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount_Percent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-info" style="margin-right:10px" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
    }
</div>
