@model Jaws_Intex.Models.WorkOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quoted_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quoted_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_Due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_Due)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Report_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Report_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary_Report_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary_Report_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount_Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount_Percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmation_Sent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmation_Sent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Work Order", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List of Work Orders", "Index")
</p>
<hr />
<h4>Associated Compounds</h4>
<p>
    @Html.ActionLink("Create New Compound for Work Order", "Create", new { Controller = "Compounds", OrderId = Model.OrderId})
</p>
<table class="table">
    <tr>
        <th>
            LT
        </th>
        <th>
            Order Id
        </th>
        <th>
            Compound Name
        </th>
        <th>
            Date Arrived
        </th>
        <th>
            Received By
        </th>
        <th>
            Appearance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Compounds)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Arrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Received_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appearance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompoundId, Controller = "Compounds" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompoundId, Controller = "Compounds" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompoundId, Controller = "Compounds" })
            </td>
        </tr>
    }

</table>

