@model IEnumerable<Jaws_Intex.Models.WorkOrder>

@{
    ViewBag.Title = "Work Orders";
}

<h2>Work Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderStatus.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quoted_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Report_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary_Report_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount_Percent)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@Url.Action("Details", null, new { id = item.OrderId, Controller = "WorkOrders" })'">
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOrderStatus.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quoted_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount_Due)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Report_URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary_Report_URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount_Percent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }
    </tbody>
</table>
