@model Jaws_Intex.Models.CompoundStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompoundStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info", @style = "margin-right:10px" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
