@model Jaws_Intex.Models.Charge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Charge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.Data_Report_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.Data_Report_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChargeId }, new { @class = "btn btn-info", @style = "margin-right:10px" })
    @Html.ActionLink("Back to Work Order", "Details", new { Controller = "WorkOrders", id = Model.OrderId }, new { @class = "btn btn-info" })
</p>
