@model IEnumerable<Jaws_Intex.Models.Charge>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })

</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.Data_Report_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@Url.Action("Details", null, new { id = item.ChargeId, Controller = "Charges" })'">
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder.Data_Report_URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ChargeId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChargeId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChargeId })
        </td>
    </tr>
}

</table>
