@model Jaws_Intex.Models.Sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <div style="display: flex; justify-content: space-between;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Compound.Name)
            </dt>

            <dd>
                @Html.ActionLink(Model.Compound.Name, "Details", new { Controller = "Compounds", Id = Model.Compound.CompoundId })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sequence)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sequence)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concentration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concentration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Absorption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Absorption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sample_File_URL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sample_File_URL)
            </dd>

            <dt>
                Sample Total Cost
            </dt>

            <dd>
                @ViewBag.TotalCost
            </dd>

        </dl>
        <div>
            <p>
                @Html.ActionLink("Add New Test for Sample", "Create", new { Controller = "SampleTests", SampleId = Model.SampleId })
            </p>
            @if (Model.SampleTests.Count > 0)
            {
                <table class="table">
                    <tr>
                        <th>
                            Test Name
                        </th>
                        <th>
                            Reactive
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.SampleTests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Test.TestName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id, Controller = "SampleTests" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id, Controller = "SampleTests" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id, Controller = "SampleTests" })
                            </td>
                        </tr>
                    }

                </table>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
