@model Jaws_Intex.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List of Clients", "Index")
</p>
<hr />
<h4>Client's Work Orders</h4>
<p>
    @Html.ActionLink("Create New Work Order for Client", "Create", new { Controller = "WorkOrders", ClientID = Model.ClientId })
</p>
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Order Date
        </th>
        <th>
            Quoted Price
        </th>
        <th>
            Amount Due
        </th>
        <th>
            Data Report
        </th>
        <th>
            Summary Report
        </th>
        <th>
            Discount Percent
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.WorkOrders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderStatus.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quoted_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Report_URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary_Report_URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount_Percent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId, Controller = "WorkOrders" }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId, Controller = "WorkOrders" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId, Controller = "WorkOrders" })
            </td>
        </tr>
    }

</table>
